@import "icons.css";
@import "bootstrap.css";
@import "bootstrap-responsive.css";
@import "fullcalendar.css";
@import "ui.css";
@import "select2.css";
@import "uniform.default.css";

@import "login.css";
@import "stylesheet.css";


html { height: 100%; }
body { min-height: 100%; font-family: Arial, Helvetica, sans-serif; font-size: 12px; line-height: 22px; position: relative; background: url("../img/backgrounds/body.jpg") left top repeat;}


@media only screen and (max-width: 1350px) {
    body > .menu{display: block;}
}

@media only screen and (max-width: 1024px) {
    body > .menu{display: block;}
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    body > .menu {display: none; position: absolute; left: 50%; margin-top: 0px; margin-left: -110px !important; top: 15px; z-index: 999; height: auto; min-height: auto;}
    body > .menu .breadLine .arrow {display: block;}
    body > .content{margin-left: 0px;}
        .header .header_menu li.list_icon{display: block;}
}

@media only screen and (min-width: 481px) {
    
}

@media only screen and (max-width: 768px) {

}

@media only screen and (min-width: 769px) {
    
}

@media only screen and (min-width: 769px) and (max-width: 980px) {
    body > .menu {display: none; position: absolute; left: 50%; margin-top: 0px; margin-left: -110px !important; top: 15px;  z-index: 999; height: auto; min-height: auto;}
    body > .menu .breadLine .arrow {display: block;}
    body > .content{margin-left: 0px;}
        .header .header_menu li.list_icon{display: block;}
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    body > .menu {display: none; position: absolute; left: 50%; margin-top: 0px; margin-left: -110px !important; top: 15px; z-index: 999; height: auto; min-height: auto;}
    body > .menu .breadLine .arrow {display: block;}
    body > .content{margin-left: 0px;}
        .header .header_menu li.list_icon{display: block;}
}



.dataTables_paginate a { padding: 3px 5px; margin-left: 3px; font-size: 11px; color:
#333; border: 1px solid #DDD; background: #F1F1F1; background: -moz-linear-gradient(top,
#F9F9F9 0%, #F1F1F1 100%); background: -webkit-gradient(linear, left top, left bottom,color-stop(0%,#F9F9F9),
color-stop(100%,#F1F1F1)); background: -webkit-linear-gradient(top,#F9F9F9 0%,#F1F1F1
100%); background: -o-linear-gradient(top, #F9F9F9 0%,#F1F1F1100%); background:
-ms-linear-gradient(top, #F9F9F9 0%,#F1F1F1 100%); background:linear-gradient(top,
#F9F9F9 0%,#F1F1F1 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F9F9F9',
endColorstr='#F1F1F1',GradientType=0 ); text-decoration: none; cursor: pointer;
}

 .dataTables_paginate b { color: #fff;
background: #416C9B;
padding:3px 5px;
margin-left:3px;font-size:11px;
border:1px solid #DDD;
}

 .dataTables_paginate a.current:hover { color: #fff; border: 1px solid #416C9B;
background: #416C9B; background: -moz-linear-gradient(top, #5B7EA4 0%, #416C9B 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5B7EA4),
color-stop(100%,#416C9B)); background: -webkit-linear-gradient(top, #5B7EA4 0%,#416C9B
100%); background: -o-linear-gradient(top, #5B7EA4 0%,#416C9B 100%); background:
-ms-linear-gradient(top, #5B7EA4 0%,#416C9B 100%); background: linear-gradient(top,
#5B7EA4 0%,#416C9B 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5B7EA4',
endColorstr='#416C9B',GradientType=0 ); }