.clear {
    clear: left;
}

.remove {
    text-decoration: none;
}


a {
    text-decoration:none;
}

.wappercontent {
    width: 96%;
    margin: 0 auto;
    padding: 0;
}

.dr {
    height: 5px;
    margin: 20px 0px;
    width: 100%;
    clear: left;
    background: url("../img/backgrounds/divider.png") left center repeat-x;
}

    .dr span {
        background: url("../img/backgrounds/divider_span.png") center center no-repeat;
        width: 100%;
        height: 5px;
        display: block;
    }

.menu .dr {
    float: left;
    margin: 10px 0px;
}

.header {
    display: block;
    height: 70px;
    width: 96%;
    position: absolute;
    z-index: 1;
    background: url("../images/footer-line.png") left top repeat-x;
    top: 2px;
    overflow: hidden;
}

    .header .logo {
        display: block;
        float: left;
        padding: 10px 15px;
    }

    .header .header_menu {
        display: block;
        float: right;
        padding: 3px 20px;
        margin: 0px;
        list-style: none;
    }

        .header .header_menu li {
            display: block;
            float: left;
            padding: 0px;
            margin: 4px 0px;
        }

            .header .header_menu li a {
                display: block;
                float: left;
                width: 25px;
                height: 25px;
            }

            .header .header_menu li.list_icon {
                background: url("../img/header_menu_list.png") left top no-repeat;
                display: none;
            }

.header-name {
    width: 100%;
    float: left;
}

.header-bottom {
    font-size: 15px;
    text-transform: uppercase;
    padding-left: 15px;
    color: #FFDE00;
}

.header-pm {
    font-weight: 500;
    color: #FFFFFF;
    font-size: 16px;
    text-transform: uppercase;
    padding-top: 15px;
    float: right;
    text-align: center;
}

.header-login {
    color: #FFFFFF;
    float: right;
    padding-top: 8px;
    text-align: right;
    width: 100%;
}

.header-logout {
    color: #FFFFFF;
    float: right;
    padding-top: 8px;
    text-align: right;
    width: 100%;
}

    .header-login a {
        font-size: 14px;
        color: #ffffff;
    }

.header-100 {
    width: 100%;
    float: left;
    font-size: 14px;
}

.header-40 {
    width: 40%;
    float: left;
}

.header-45 {
    width: 46%;
    float: left;
}

.header-center {
    background: url("../images/header_line2.png") no-repeat scroll left top transparent;
    float: left;
    height: 2px;
    margin: 5px 0;
    width: 400px;
}

.header-line1 {
    padding-top: 30px;
    font-size: 20px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 500;
}

.menu {
    display: block;
    width: 219px;
    position: absolute;
    margin-top: 135px;
    z-index: 999;
    background: url("../img/backgrounds/menu.jpg") left top repeat;
    border-bottom: 1px solid #CCCCCC;
    -webkit-border-bottom-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-bottom-left-radius: 3px;
    -moz-border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    -moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.35);
}

    .menu .breadLine .arrow {
        position: absolute;
        left: 110px;
        top: -12px;
        background: url("../img/menu-arrow-top.png") left top repeat;
        width: 17px;
        height: 12px;
        display: none;
    }
/* ~ADMIN~ */

.adminControl {
    padding: 1px 10px 0px;
    float: left;
    font-size: 11px;
    color: #333;
    background: url("../img/arrow_down.png") right center no-repeat;
    width: 194px;
    cursor: pointer;
    -moz-text-shadow: 0 1px 0 #FFFFFF;
    -webkit-text-shadow: 0 1px 0 #FFFFFF;
    text-shadow: 0 1px 0 #FFFFFF;
}

    .adminControl.active {
        background: url("../img/arrow_up.png") right center no-repeat;
    }

.admin {
    display: none;
    float: left;
    position: relative;
    padding: 5px;
    width: 209px;
    -moz-box-shadow: inset 0 0 5px #CCC;
    -webkit-box-shadow: inset 0 0 5px #CCC;
    box-shadow: inset 0 0 5px #CCC;
}

    .admin .image {
        float: left;
        width: 62px;
        margin-right: 5px;
    }

    .admin ul.control,
    .headInfo ul.control {
        display: block;
        float: left;
        width: 132px;
        list-style: none;
        margin: 0px 0 0 10px;
    }

        .admin ul.control li a,
        .headInfo ul.control li a {
            font-size: 11px;
            color: #333;
            -moz-text-shadow: 0 1px 0 #FFFFFF;
            -webkit-text-shadow: 0 1px 0 #FFFFFF;
            text-shadow: 0 1px 0 #FFFFFF;
        }

        .admin ul.control li .caption {
            display: block;
            float: right;
            font-size: 10px;
            background-color: #333;
            color: #fff;
            padding: 2px 4px 2px 3px;
            line-height: 13px;
            margin: 3px 0px 3px 5px;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            border-radius: 3px;
            text-decoration: none;
            text-shadow: none;
        }

            .admin ul.control li .caption.red {
                background-color: #a5302c;
            }

            .admin ul.control li .caption.green {
                background-color: #225B15;
            }

            .admin ul.control li .caption.yellow {
                background-color: #FBB450;
            }

    .admin .info {
        float: left;
        padding: 5px;
        font-size: 10px;
        color: #666;
        line-height: 14px;
        -moz-text-shadow: 0 1px 0 #FFFFFF;
        -webkit-text-shadow: 0 1px 0 #FFFFFF;
        text-shadow: 0 1px 0 #FFFFFF;
    }


/* ~NAVIGATION~ */
.navigation {
    list-style: none;
    position: relative;
    padding: 0px;
    margin: 0px;
    float: left;
}

    .navigation li {
        border-top: 1px solid #335A85;
        border-right: 1px solid #335A85;
        background: url("../img/backgrounds/menu-item.jpg") left top repeat-x;
        padding: 0px;
        margin: 0px;
        display: block;
        float: left;
        width: 219px;
        position: relative;
    }

.menu .navigation li:hover, .menu .navigation li.active {
    border-color: #143D6B;
    background: url("../img/backgrounds/menu-item-active.jpg") left top repeat-x;
}

.navigation li.openable {
    background: url("../img/menu_arrow_down.png") 198px 12px no-repeat, url("../img/backgrounds/menu-item.jpg") left top repeat-x;
}

    .navigation li.openable.active {
        background: url("../img/menu_arrow_down.png") 198px 12px no-repeat, url("../img/backgrounds/menu-item-active.jpg") left top repeat-x;
    }

    .navigation li.openable:hover {
        background: url("../img/menu_arrow_down.png") 198px 12px no-repeat, url("../img/backgrounds/menu-item-active.jpg") left top repeat-x;
    }

    .navigation li.openable.active {
        background: url("../img/menu_arrow_up.png") 198px 12px no-repeat, url("../img/backgrounds/menu-item-active.jpg") left top repeat-x;
    }



.navigation li > a {
    color: #fff;
    text-decoration: none;
    padding: 0px;
    display: block;
    float: left;
    width: 219px;
    position: relative;
    -moz-text-shadow: 0 1px 0 #333;
    -webkit-text-shadow: 0 1px 0 #333;
    text-shadow: 0 1px 0 #333;
}

    .navigation li > a span.text {
        width: 183px;
        padding: 9px 0px;
        display: block;
        margin-left: 10px;
        float: left;
        overflow: hidden;
    }

.navigation li.openable > ul {
    padding: 0px;
    margin: 0px;
    float: left;
    width: 219px;
    display: none;
}

.navigation li.active > ul {
    display: block !important;
}

.navigation li > ul > li {
    display: block;
    float: left;
    width: 219px;
    background: #F2F2F2;
    border-top: 1px solid #FCFCFC !important;
    border-bottom: 1px solid #E4E8ED !important;
    border-right-color: #E4E8ED !important;
}

    .navigation li > ul > li:hover,
    .navigation li > ul > li.active {
        background: #EDEDED !important;
    }

    .navigation li > ul > li > a {
        display: block;
        float: left;
        padding-left: 10px;
        width: 175px;
    }

        .navigation li > ul > li > a span.text {
            color: #333;
            font-size: 11px;
            padding: 6px 0px;
            width: 140px;
            -moz-text-shadow: 0 1px 0 #FFFFFF;
            -webkit-text-shadow: 0 1px 0 #FFFFFF;
            text-shadow: 0 1px 0 #FFFFFF;
        }

        .navigation li > ul > li > a [class*="icon-"] {
            margin: 9px 0px 7px 10px;
            display: block;
            float: left;
        }

        .navigation li > ul > li > a.caption {
            float: right;
            width: auto;
            background-color: #fff;
            color: #335A85;
            text-align: center;
            font-size: 11px;
            height: 18px;
            line-height: 18px;
            padding: 0px 5px;
            margin: 6px 0px;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            -o-border-radius: 3px;
            -ms-border-radius: 3px;
            border-radius: 3px;
            color: #fff;
            margin-right: 5px;
            border: 1px solid #143D6B;
            background: #143D6B;
            background: -moz-linear-gradient(top, #335A85 0%, #143D6B 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#335A85), color-stop(100%,#143D6B));
            background: -webkit-linear-gradient(top, #335A85 0%,#143D6B 100%);
            background: -o-linear-gradient(top, #335A85 0%,#143D6B 100%);
            background: -ms-linear-gradient(top, #335A85 0%,#143D6B 100%);
            background: linear-gradient(top, #335A85 0%,#143D6B 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#335A85', endColorstr='#143D6B',GradientType=0 );
        }

        .navigation li > ul > li > a.red {
            border: 1px solid #772E2C;
            background: #a5302c;
            background: -moz-linear-gradient(top, #c93934 0%, #a5302c 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c93934), color-stop(100%,#a5302c));
            background: -webkit-linear-gradient(top, #c93934 0%, #a5302c 100%);
            background: -o-linear-gradient(top, #c93934 0%,#a5302c 100%);
            background: -ms-linear-gradient(top, #c93934 0%,#a5302c 100%);
            background: linear-gradient(top, #c93934 0%,#a5302c 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c93934', endColorstr='#a5302c',GradientType=0 );
        }

        .navigation li > ul > li > a.green {
            border: 1px solid #225B15;
            background: #2E801E;
            background: -moz-linear-gradient(top, #55AB2D 0%, #2E801E 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#55AB2D), color-stop(100%,#2E801E));
            background: -webkit-linear-gradient(top, #55AB2D 0%,#2E801E 100%);
            background: -o-linear-gradient(top, #55AB2D 0%,#2E801E 100%);
            background: -ms-linear-gradient(top, #55AB2D 0%,#2E801E 100%);
            background: linear-gradient(top, #55AB2D 0%,#2E801E 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#55AB2D', endColorstr='#2E801E',GradientType=0 );
        }

        .navigation li > ul > li > a.yellow {
            border: 1px solid #AD6704;
            background: #FBB450;
            background: -moz-linear-gradient(top, #FBB450 0%, #F89406 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FBB450), color-stop(100%,#F89406));
            background: -webkit-linear-gradient(top, #FBB450 0%,#F89406 100%);
            background: -o-linear-gradient(top, #FBB450 0%,#F89406 100%);
            background: -ms-linear-gradient(top, #FBB450 0%,#F89406 100%);
            background: linear-gradient(top, #FBB450 0%,#F89406 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FBB450', endColorstr='#F89406',GradientType=0 );
        }

/* ~NAVIGATION~ */



.menu .widget, .menu .widget-fluid {
    display: block;
    float: left;
    width: 200px;
    padding: 0px 10px;
}

.menu .widget-fluid {
    padding: 0px;
    width: 219px;
}

    .menu .widget .input-append, .menu .widget-fluid .input-append {
        margin-bottom: 0px;
    }

.menu .popup {
    right: -415px;
}

.popup {
    position: absolute;
    top: 0px;
    z-index: 3;
    width: 400px;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.35);
    display: none;
}

    .popup .head {
        background: url("../img/backgrounds/box-head.jpg") left top repeat-x;
        background-clip: padding-box;
        position: relative;
    }

        .popup .head .arrow {
            position: absolute;
            left: -12px;
            top: 10px;
            width: 12px;
            height: 17px;
            background: url("../img/arrow.png") left top no-repeat transparent;
        }

        .popup .head .name {
            font-size: 12px;
            color: #fff;
            float: left;
            display: block;
            padding: 10px;
            line-height: 18px;
            font-weight: bold;
        }

    .popup .body {
        padding: 10px;
        position: relative;
    }

    .popup .body-fluid {
        position: relative;
        padding: 0px;
    }

    .popup .messages .item,
    .block.messages .item {
        border-bottom: 1px solid #E4E8ED;
        border-top: 1px solid #FFF;
        position: relative;
    }

        .popup .messages .item .image,
        .block.messages .item .image {
            display: inline-block;
            width: 60px;
            padding: 5px 0px 5px 0px;
            position: absolute;
            left: 0px;
            top: 0px;
        }

        .popup .messages .item .info,
        .block.messages .item .info {
            padding: 5px 5px 5px 70px;
            font-size: 11px;
        }

            .popup .messages .item .info .name,
            .block.messages .item .info .name {
                font-size: 11px;
                color: #005580;
                font-weight: bold;
            }

            .popup .messages .item .info p,
            .block.messages .item .info p {
                margin: 0px;
                font-size: 11px;
                color: #333;
                line-height: 17px;
            }

            .popup .messages .item .info > span,
            .block.messages .item .info > span {
                color: #999;
                font-size: 11px;
            }

        .popup .messages .item:last-child,
        .block.messages .item:last-child {
            border-bottom: 0px;
        }

        .popup .messages .item:first-child .image,
        .block.messages .item:first-child .image,
        .popup .messages .item:first-child .info,
        .block.messages .item:first-child .info {
            padding-top: 0px;
        }

    .popup .footer,
    .block .footer {
        background-color: #F2F2F2;
        border-top: 1px solid #DAE1E8;
        padding: 8px 5px 7px;
        text-align: right;
    }

    .popup .search {
        position: relative;
    }

        .popup .search input[type="text"],
        .popup .search input[type="password"],
        .popup .search input textarea {
            width: 100%;
            font-size: 11px;
            color: #454545;
            padding: 7px 7px 5px;
            border: 1px solid #D7D7D7;
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            -ms-box-sizing: border-box;
            display: inline-block;
            background: #FDFDFD;
            height: 26px;
            margin: 0px;
        }

/* BLOCK NEWS */
.block.news .item {
    border-bottom: 1px solid #E4E8ED;
    border-top: 1px solid #FFF;
    position: relative;
    padding-bottom: 5px;
}

    .block.news .item:first-child {
        border-top: 0px;
    }

    .block.news .item:last-child {
        border-bottom: 0px;
    }

    .block.news .item > a {
        font-size: 12px;
        font-weight: bold;
    }

    .block.news .item > p {
        font-size: 11px;
        color: #333;
        margin: 0px 10px;
    }

    .block.news .item > span.date {
        font-size: 11px;
        color: #999;
    }

    .block.news .item .controls {
        position: absolute;
        right: 5px;
        bottom: 5px;
        opacity: 0.5;
    }

        .block.news .item .controls:hover {
            opacity: 0.8;
        }
/* BLOCK NEWS */

.breadLine {
    height: 23px;
    border-bottom: 1px solid #CCC;
    background: url("../img/backgrounds/nav.jpg") left top repeat-x;
    border-bottom: 1px solid #CCC;
}

    .breadLine .breadcrumb {
        float: left;
    }

        .breadLine .breadcrumb, .breadLine .breadcrumb li, .breadLine .breadcrumb a {
            font-size: 11px;
        }

    .breadLine .buttons {
        display: block;
        float: right;
        padding: 0px;
        margin: 0px 20px 0px 0px;
        list-style: none;
        border-right: 1px solid #D5D5D5;
    }

        .breadLine .buttons li {
            display: block;
            float: left;
            padding: 0px;
            margin: 0px;
            border-left: 1px solid #D5D5D5;
            position: relative;
        }

            .breadLine .buttons li > a {
                display: block;
                float: left;
                padding: 1px 5px 2px 10px;
                margin: 0px;
                font-size: 11px;
                color: #333;
            }

                .breadLine .buttons li > a span {
                    margin-right: 5px;
                    -moz-text-shadow: 0 1px 0 #FFFFFF;
                    -webkit-text-shadow: 0 1px 0 #FFFFFF;
                    text-shadow: 0 1px 0 #FFFFFF;
                }

                .breadLine .buttons li > a:hover {
                    text-decoration: none;
                    background: #E6E6E6;
                }

            .breadLine .buttons li .popup {
                right: 0px;
                top: 35px;
            }

                .breadLine .buttons li .popup .head .arrow {
                    width: 17px;
                    height: 12px;
                    left: auto;
                    right: 10px !important;
                    top: -11px;
                    background: url("../img/arrow-top.png") left top no-repeat transparent;
                }

.content {
    width: 100%;
    /*min-height: 612px;*/
    /*padding-top: 90px;*/
}

    .content .workplace {
        position: relative;
        padding-top: 73px;
    }
    .filter {
        margin-top: 5px;
        margin-bottom: 5px;
    }

        /* ~BOXES~ */



        /*.content .workplace .head{background: url("/img/backgrounds/box-head.jpg") left top repeat-x; background-clip: padding-box; border: 1px solid #335A85;
                                 -moz-border-top-left-radius: 3px; -moz-border-top-right-radius: 3px;
                                 -webkit-border-top-left-radius: 3px; -webkit-border-top-right-radius: 3px;
                                 -o-border-top-left-radius: 3px; -o-border-top-right-radius: 3px;
                                 -ms-border-top-left-radius: 3px; -ms-border-top-right-radius: 3px;
                                 border-top-left-radius: 3px; border-top-right-radius: 3px;
                                 }*/

        .content .workplace .head {
            background-color: #3563c1;
        }

            .content .workplace .head h1, .content .workplace .head h2, .content .workplace .head h3, .content .workplace .head h4, .content .workplace .head h5, .content .workplace .head h6 {
                font-size: 12px;
                color: #fff;
                line-height: 16px;
                padding: 8px 0px;
                margin: 0px;
                font-weight: bold;
                margin-left: 10px;
                display: block;
                float: left;
                -moz-text-shadow: 0 1px 0 #333;
                -webkit-text-shadow: 0 1px 0 #333;
                text-shadow: 0 1px 0 #333;
            }

            .content .workplace .head .buttons {
                float: right;
                background: none;
                position: relative;
                list-style: none;
            }

                .content .workplace .head .buttons > li {
                    display: block;
                    float: left;
                }

                .content .workplace .head .buttons li:active, .content .workplace .head .buttons li.active {
                    background: url('../img/backgrounds/box-head-active.jpg') left center repeat-x;
                }

                .content .workplace .head .buttons li > a {
                    outline: none;
                }

                .content .workplace .head .buttons [class*="isw-"], .content .workplace .head .button [class*="isb-"] {
                    margin: 0px;
                    padding: 11px 10px;
                    border-left: 1px solid #335A85;
                }

                .content .workplace .head .buttons li .dd-list {
                    display: none;
                    position: absolute;
                    z-index: 2;
                    right: -1px;
                    min-width: 150px;
                    list-style: none;
                    padding: 0px;
                    margin: 0px;
                    top: 100%;
                    background-color: #395E88;
                    border: 1px solid #143D6B;
                }

                    .content .workplace .head .buttons li .dd-list li {
                        display: block;
                        clear: left;
                        border-top: 1px solid #507298;
                        border-bottom: 1px solid #143D6B;
                    }

                        .content .workplace .head .buttons li .dd-list li:last-child {
                            border-bottom: 0px;
                        }

                        .content .workplace .head .buttons li .dd-list li a {
                            line-height: 38px;
                            color: #fff;
                            font-size: 11px;
                            display: block;
                            text-decoration: none;
                        }

                            .content .workplace .head .buttons li .dd-list li a:hover {
                                background-color: #2C517A;
                            }

                        .content .workplace .head .buttons li .dd-list li [class*="isw-"], .content .workplace .head .button .dd-list li [class*="isb-"] {
                            border: 0px;
                        }

                .content .workplace .head .buttons > li.s_loader,
                .content .workplace .head .buttons > li.w_loader,
                .content .workplace .head .buttons > li.c_loader,
                .content .workplace .head .buttons > li.loader {
                    border: 0px;
                }

                .content .workplace .head .buttons > li.s_loader {
                    padding: 9px 13px;
                }

                .content .workplace .head .buttons > li.c_loader {
                    padding: 3px 4px 4px 5px;
                }

                .content .workplace .head .buttons > li.w_loader,
                .content .workplace .head .buttons > li.loader {
                    padding: 3px 5px;
                }

        .content .workplace .headInfo {
            background-color: #F1F1F1;
            border: 1px solid #D5D5D5;
            padding: 5px;
            position: relative;
            -moz-border-top-left-radius: 3px;
            -webkit-border-top-left-radius: 3px;
            border-top-left-radius: 3px;
            -moz-border-top-right-radius: 3px;
            -webkit-border-top-right-radius: 3px;
            border-top-right-radius: 3px;
        }

            .content .workplace .headInfo .arrow_down {
                width: 17px;
                height: 12px;
                position: absolute;
                left: 50%;
                margin-left: -9px;
                top: 40px;
                background: url('../img/menu-arrow-down.png') left top no-repeat;
            }

            .content .workplace .headInfo .image {
                margin: 0px 10px 5px 5px;
                float: left;
            }

                .content .workplace .headInfo .image a {
                    display: block;
                    font-weight: bold;
                    text-align: center;
                }

            .content .workplace .headInfo .info {
                float: left;
                font-size: 11px;
                color: #333;
            }

                .content .workplace .headInfo .info address {
                    margin-bottom: 0px;
                }

            .content .workplace .headInfo .input-append {
                text-align: right;
            }

                .content .workplace .headInfo .input-append,
                .content .workplace .headInfo .input-append button {
                    margin-bottom: 0px;
                }


.block, .block-fluid {
    border: 1px solid #ccc;
    border-top: 0px;
    background-color: #F9F9F9;
    -moz-border-bottom-left-radius: 3px;
    -moz-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -o-border-bottom-left-radius: 3px;
    -o-border-bottom-right-radius: 3px;
    -ms-border-bottom-left-radius: 3px;
    -ms-border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.block {
    padding: 10px;
}

/* ~Simple table~ */

[class*="block"] .table {
    margin: 0px;
}

    [class*="block"] .table tr th {
        padding: 5px 5px 5px 5px;
        font-size: 13px;
        background-color: #F1F1F1;
        color: #666;
    }

    [class*="block"] .table tr th, [class*="block"] .table tr td {
        border: 1px solid #ddd;
    }

        [class*="block"] .table tr th:last-child, [class*="block"] .table tr td:last-child {
            border-right: 0px;
        }

    [class*="block"] .table tr td {
        background-color: #F9F9F9;
    }

    [class*="block"] .table tr:nth-child(2n+1) td {
        background-color: #FFF;
    }

/* ~Simple table~ */


/* Messaging */

.messaging {
    padding-top: 5px;
}

    .messaging .itemIn, .messaging .itemOut {
        margin: 5px 0px 10px 0px;
        clear: left;
        position: relative;
    }

        .messaging .itemIn .text, .messaging .itemOut .text {
            padding: 7px 8px;
            border: 1px solid #d5d5d5;
            background-color: #FFF;
            margin-right: 70px;
            font-size: 11px;
            color: #333;
            line-height: 17px;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            -o-border-radius: 3px;
            -ms-border-radius: 3px;
            border-radius: 3px;
        }

        .messaging .itemOut .text {
            margin: 0px 0px 0px 70px;
        }

            .messaging .itemOut .text .info,
            .messaging .itemIn .text .info {
                margin-bottom: 5px;
            }

                .messaging .itemOut .text .info .name,
                .messaging .itemIn .text .info .name {
                    float: left;
                    font-size: 11px;
                    color: #005580;
                    font-weight: bold;
                }

                .messaging .itemOut .text .info .name {
                    color: #333;
                }

                .messaging .itemOut .text .info .date,
                .messaging .itemIn .text .info .date {
                    float: right;
                    font-size: 11px;
                    color: #999;
                }

        .messaging .itemIn .image, .messaging .itemOut .image {
            position: absolute;
            display: block;
            right: 0px;
            top: 0px;
        }

        .messaging .itemOut .image {
            right: auto;
            left: 0px;
        }

    .messaging .controls {
        margin-top: 20px;
        text-align: right;
    }

        .messaging .controls .control {
            padding: 0;
            marign: 0;
            display: block;
            padding-right: 10px;
        }

            .messaging .controls .control textarea {
                width: 100%;
                padding: 4px;
                font-size: 11px;
            }


/* Messaging */

.row-form {
    /*border-top: 1px solid white;*/
    padding: 3px 16px;
    vertical-align: baseline;
}

    .row-form:last-child {
        border-bottom: 0px;
    }

    .row-form:first-child {
        border-top: 0px;
    }

    .row-form [class^="span"] {
        line-height: 30px;
    }

    .row-form input[type="text"],
    .row-form input[type="password"],
    .row-form textarea {
        width: 100%;
        font-size: 11px;
        color: #454545;
        padding: 0px 7px 0px;
        border: 1px solid #D7D7D7;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        display: inline-block;
        background: #FDFDFD;
        height: 15px;
        margin: 0px;
        line-height: 15px;
    }

    .row-form textarea {
        min-height: 100px;
    }

    .row-form select {
        margin: 0px;
        font-size: 11px;
        color: #666;
        padding: 2px 2px 3px 5px;
        display: inline-block;
        line-height: 11px;
        border: 1px solid #AAAAAA;
        width: auto;
        max-width: 100%;
        width: 100%;
        background: #FFF;
        background: -moz-linear-gradient(center bottom, #EEE 0%, white 50%);
        background: -webkit-gradient(linear, center bottom, center bottom, color-stop(0%,#EEE), color-stop(50%,#FFF));
        background: -webkit-linear-gradient(center bottom, #EEE 0%,#FFF 50%);
        background: -o-linear-gradient(center bottom, #EEE 0%,#FFF 50%);
        background: -ms-linear-gradient(center bottom, #EEE 0%,#FFF 50%);
        background: linear-gradient(center bottom, #EEE 0%,#FFF 50%);
        /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EEE', endColorstr='#FFF',GradientType=0 );    */
    }

        .row-form select optgroup {
            border-left: 1px solid #AAA;
            border-right: 1px solid #AAA;
        }

        .row-form select option {
            padding: 3px;
        }

        .row-form select[multiple] {
            min-height: 100px;
            padding: 0px 0px 0px 5px;
            background: none;
            background-color: #FFF;
        }

    .row-form .select2-container, .select2-results {
        font-size: 11px;
    }

    .row-form label.inline {
        font-size: 11px;
    }

.radio.inline, .checkbox.inline {
    padding-top: 0px;
}

.row-form span {
    font-size: 13px;
    color: #335A85;
}

.row-form input[type="checkbox"],
.row-form input[type="radio"] {
    margin-left: 0px;
}

.formErrorContent {
    line-height: 19px !important;
}

.scrollBox {
    padding-right: 0px;
}

.scroll {
    overflow: hidden;
}

/* ~BOXES~ */

/* ~USERS LIST~ */
.users {
    position: relative;
    padding-left: 0px !important;
}

    .users .item {
        clear: both;
        border-bottom: 1px solid #E4E8ED;
        padding: 8px 10px;
        position: relative;
        cursor: pointer;
    }

        .users .item:hover {
            background-color: #EDF1F5;
        }

        .users .item:last-child {
            border-bottom: 0px;
        }

        .users .item .image {
            position: absolute;
            left: 10px;
            top: 8px;
        }

        .users .item .info {
            padding-left: 42px;
            line-height: 32px;
        }

            .users .item .info a {
                font-size: 11px;
                color: #005580;
                font-weight: bold;
            }

            .users .item .info span {
                font-size: 11px;
                color: #738392;
                position: absolute;
                top: 8px;
                left: 50%;
            }

            .users .item .info .controls {
                position: absolute;
                right: 10px;
                top: 10px;
                opacity: 0.5;
            }

                .users .item .info .controls:hover {
                    opacity: 0.8;
                }
/* ~USERS LIST~ */


/* ACCORDION */
.ui-accordion .ui-accordion-header {
    background-color: #F2F2F2;
    padding: 8px 10px 8px 30px;
    font-size: 12px;
    color: #005580;
    font-weight: bold;
    border: 0px;
    border-bottom: 1px solid #E4E8ED;
}

.ui-accordion .ui-state-hover {
    background-color: #ededed;
}

.ui-accordion .ui-widget-content:last-child {
    box-shadow: none;
}

.ui-accordion .ui-accordion-header:last-child {
    border-bottom: 0px;
    box-shadow: none;
}

/* DIALOG */

.dialog {
    padding: 10px 0px 10px 10px !important;
}

    .dialog .block {
        border: 0px;
        padding: 0px;
        padding-right: 10px;
        background: transparent;
    }

        .dialog .block input[type="text"],
        .dialog .block input[type="password"],
        .dialog .block textarea {
            width: 100%;
            font-size: 11px;
            color: #454545;
            padding: 7px 7px 5px;
            border: 1px solid #D7D7D7;
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            -ms-box-sizing: border-box;
            display: inline-block;
            background: #FDFDFD;
            height: 26px;
            margin: 0px;
        }

        .dialog .block textarea {
            min-height: 100px;
        }


/* SLIDER */
.amount {
    line-height: 17px;
    font-size: 11px;
    color: #5A799C;
}

/* SIMPLE LIST */

.sList {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

    .sList li {
        display: block;
        padding: 8px 10px 6px;
        background-color: #F2F2F2;
        border-bottom: 1px solid #E4E8ED;
        border-top: 1px solid #FFF;
    }

    .sList .placeholder {
        background-color: #fff8c4;
        height: 20px;
    }

/* SORTABLE TABLES*/
.dataTable {
    float: left;
}

/*7/6  chinh sua css table*/
.table-sorting .dataTables_length1 {
    font-size: 11px;
    color: #333;
    line-height: 16px;
    width: 300px;
    float: left;
    padding: 5px;
}

    .table-sorting .dataTables_length1 label,
    .table-sorting .dataTables_length1 label select {
        padding: 3px 2px 3px 5px;
        font-size: 11px;
        color: #333;
        width: auto;
        line-height: 16px;
        margin: 0px;
    }
/*ket thuc 7/6*/
.table-sorting {
    padding: 0px;
    position: relative;
    font-size: 12px;
    background-color: #FFF;
    top: 0px;
    left: 0px;
}

    .table-sorting .dataTables_wrapper {
        float: left;
        width: 100%;
    }

    .table-sorting .dataTables_length {
        font-size: 11px;
        color: #333;
        line-height: 16px;
        width: 150px;
        float: left;
        padding: 5px;
    }

        .table-sorting .dataTables_length label,
        .table-sorting .dataTables_filter label {
            font-size: 11px;
            color: #333;
            padding: 0px;
            line-height: 16px;
            height: auto;
            margin: 0px;
        }

            .table-sorting .dataTables_length label select {
                padding: 3px 2px 3px 5px;
                font-size: 11px;
                color: #333;
                width: auto;
                line-height: 16px;
                margin: 0px;
            }

    .table-sorting .dataTables_filter {
        font-size: 11px;
        color: #333;
        line-height: 16px;
        width: 150px;
        float: right;
        padding: 5px;
    }

        .table-sorting .dataTables_filter label input[type="text"] {
            font-size: 11px;
            padding: 3px 2px 3px 5px;
            color: #333;
            line-height: 14px;
            margin: 0px;
            width: 100px;
            height: 15px;
        }

    .table-sorting .table {
        border-top: 1px solid #DDD;
        border-bottom: 1px solid #DDD !important;
    }

        .table-sorting .table td.dataTables_empty {
            font-size: 11px;
            text-align: center;
            color: #333;
        }

    .table-sorting .dataTables_info {
        float: left;
        font-size: 11px;
        color: #333;
        padding: 8px 10px;
        line-height: 16px;
    }

    .table-sorting .dataTables_paginate {
        padding: 5px 0 5px 0;
        float: right;
        width: 100%;
    }

        .table-sorting .dataTables_paginate a.paginate_disabled_previous,
        .table-sorting .dataTables_paginate a.paginate_disabled_next,
        .table-sorting .dataTables_paginate a.paginate_button,
        .table-sorting .paginate_enabled_next,
        .table-sorting .paginate_active,
        .table-sorting .paginate_enabled_previous {
            padding: 3px 5px;
            margin-left: 3px;
            font-size: 11px;
            color: #333;
            border: 1px solid #DDD;
            background: #F1F1F1;
            background: -moz-linear-gradient(top, #F9F9F9 0%, #F1F1F1 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F9F9F9), color-stop(100%,#F1F1F1));
            background: -webkit-linear-gradient(top, #F9F9F9 0%,#F1F1F1 100%);
            background: -o-linear-gradient(top, #F9F9F9 0%,#F1F1F1 100%);
            background: -ms-linear-gradient(top, #F9F9F9 0%,#F1F1F1 100%);
            background: linear-gradient(top, #F9F9F9 0%,#F1F1F1 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F9F9F9', endColorstr='#F1F1F1',GradientType=0 );
            text-decoration: none;
            cursor: pointer;
        }

    .table-sorting .paginate_active {
        color: #fff;
        border: 1px solid #416C9B;
        background: #416C9B;
        background: -moz-linear-gradient(top, #5B7EA4 0%, #416C9B 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5B7EA4), color-stop(100%,#416C9B));
        background: -webkit-linear-gradient(top, #5B7EA4 0%,#416C9B 100%);
        background: -o-linear-gradient(top, #5B7EA4 0%,#416C9B 100%);
        background: -ms-linear-gradient(top, #5B7EA4 0%,#416C9B 100%);
        background: linear-gradient(top, #5B7EA4 0%,#416C9B 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5B7EA4', endColorstr='#416C9B',GradientType=0 );
    }

    .table-sorting .dataTables_paginate .paginate_enabled_next:hover,
    .table-sorting .dataTables_paginate a.paginate_button:hover,
    .table-sorting .dataTables_paginate .paginate_enabled_previous:hover {
        box-shadow: inset 0 1px 3px #ccc,0 1px 0 white;
        color: #666;
    }

    .table-sorting .dataTables_paginate a.paginate_disabled_previous,
    .table-sorting .dataTables_paginate a.paginate_button_disabled,
    .table-sorting .dataTables_paginate a.paginate_disabled_next {
        cursor: default;
        color: #ccc;
    }

        .table-sorting .dataTables_paginate a.paginate_button_disabled:hover {
            box-shadow: none;
            color: #ccc;
        }

    .table-sorting .sorting_asc {
        background: url('../img/datatable/sort_asc.png') no-repeat center right;
        cursor: pointer;
    }

    .table-sorting .sorting_desc {
        background: url('../img/datatable/sort_desc.png') no-repeat center right;
        cursor: pointer;
    }

    .table-sorting .sorting {
        background: url('../img/datatable/sort_both.png') no-repeat center right;
        cursor: pointer;
    }

    .table-sorting .sorting_asc_disabled {
        background: url('../img/datatable/sort_asc_disabled.png') no-repeat center right;
    }

    .table-sorting .sorting_desc_disabled {
        background: url('../img/datatable/sort_desc_disabled.png') no-repeat center right;
    }

/* ~GALLERY~ */

.block.gallery a {
    display: inline-block;
}

.block.thumbs .thumbnail {
    width: 210px;
    display: inline-block;
}

/* ~GALLERY~ */

/* ~WIDGETS~ */

.sOrders {
    padding: 0px;
    margin: 0px;
    font-size: 12px;
    position: relative;
    background-color: #F9F9F9;
}

    .sOrders tr {
        border-bottom: 1px solid #E4E8ED;
        border-top: 1px solid #FFF;
    }

    .sOrders tbody tr:nth-child(2n+1) {
        background-color: #FFF;
    }

    .sOrders tbody tr:last-child {
        border-bottom: 0px;
    }

    .sOrders tfoot tr {
        border-top: 1px solid #E4E8ED;
    }

    .sOrders th {
        padding: 5px;
        font-size: 11px;
        color: #666;
        border-right: 1px solid #E4E8ED;
        text-align: left;
        background-color: #F1F1F1;
    }

    .sOrders td {
        padding: 5px;
        border-right: 1px solid #E4E8ED;
    }

        .sOrders td a {
            color: #005580;
        }

        .sOrders td span {
            display: block;
        }

            .sOrders td span.date {
                color: #2E801E;
                font-weight: bold;
                text-align: center;
            }

            .sOrders td span.time {
                color: #999;
                text-align: center;
                font-size: 11px;
            }

            .sOrders td span.price {
                color: #772E2C;
                font-weight: bold;
            }

        .sOrders th:last-child, .sOrders td:last-child {
            border-right: 0px;
        }

/* ~WIDGETS~ */


/* ~WIDGET BUTTONS ~*/

.widgetButtons {
    border: 0px;
    text-align: center;
    padding: 5px 0px;
}

    .widgetButtons .bb {
        border: 1px solid #D5D5D5;
        padding: 5px;
        margin-top: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        margin-left: 5px;
        position: relative;
        -moz-box-shadow: inset 0 0 5px #D5D5D5;
        -webkit-box-shadow: inset 0 0 5px #D5D5D5;
        box-shadow: inset 0 0 5px #D5D5D5;
        background-color: #FFF;
        display: inline-block;
    }

        .widgetButtons .bb:first-child {
            margin: 0px;
        }

        .widgetButtons .bb a span[class^=ibb] {
            opacity: 0.8;
        }

        .widgetButtons .bb > a {
            display: block;
            float: left;
            padding: 20px;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border-radius: 5px;
        }

        .widgetButtons .bb a {
            color: #FFF;
            border: 1px solid #416C9B;
            background: #416C9B;
            background: -moz-linear-gradient(top, #5B7EA4 0%, #416C9B 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5B7EA4), color-stop(100%,#416C9B));
            background: -webkit-linear-gradient(top, #5B7EA4 0%,#416C9B 100%);
            background: -o-linear-gradient(top, #5B7EA4 0%,#416C9B 100%);
            background: -ms-linear-gradient(top, #5B7EA4 0%,#416C9B 100%);
            background: linear-gradient(top, #5B7EA4 0%,#416C9B 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5B7EA4', endColorstr='#416C9B',GradientType=0 );
            -moz-box-shadow: 0 1px 1px #222, 0px 1px 0 #7797ba inset;
            -webkit-box-shadow: 0 1px 1px #222, 0px 1px 0 #7797ba inset;
            box-shadow: 0 1px 1px #222, 0px 1px 0 #7797ba inset;
        }

    .widgetButtons .gray a, .wBlock.gray {
        color: #333;
        border: 1px solid #D9D9D9;
        background: #E5E5E5;
        background: -moz-linear-gradient(top, #F9F9F9 0%, #E5E5E5 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F9F9F9), color-stop(100%,#E5E5E5));
        background: -webkit-linear-gradient(top, #F9F9F9 0%,#E5E5E5 100%);
        background: -o-linear-gradient(top, #F9F9F9 0%,#E5E5E5 100%);
        background: -ms-linear-gradient(top, #F9F9F9 0%,#E5E5E5 100%);
        background: linear-gradient(top, #F9F9F9 0%,#E5E5E5 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F9F9F9', endColorstr='#E5E5E5',GradientType=0 );
        -moz-box-shadow: 0 1px 1px #B5B5B5, 0px 1px 0 #FFF inset;
        -webkit-box-shadow: 0 1px 1px #B5B5B5, 0px 1px 0 #FFF inset;
        box-shadow: 0 1px 1px #B5B5B5, 0px 1px 0 #FFF inset;
    }

    .widgetButtons .yellow a, .wBlock.yellow {
        border: 1px solid #D6AB00;
        background: #ECB200;
        background: -moz-linear-gradient(top, #F7CE00 0%, #ECB200 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F7CE00), color-stop(100%,#ECB200));
        background: -webkit-linear-gradient(top, #F7CE00 0%,#ECB200 100%);
        background: -o-linear-gradient(top, #F7CE00 0%,#ECB200 100%);
        background: -ms-linear-gradient(top, #F7CE00 0%,#ECB200 100%);
        background: linear-gradient(top, #F7CE00 0%,#E5E5E5 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F7CE00', endColorstr='#ECB200',GradientType=0 );
        -moz-box-shadow: 0 1px 1px #D39E00, 0px 1px 0 #FFEB89 inset;
        -webkit-box-shadow: 0 1px 1px #D39E00, 0px 1px 0 #FFEB89 inset;
        box-shadow: 0 1px 1px #D39E00, 0px 1px 0 #FFEB89 inset;
    }

    .widgetButtons .red a, .wBlock.red {
        border: 1px solid #AF2D1C;
        background: #CB2C1A;
        background: -moz-linear-gradient(top, #D96D3A 0%, #CB2C1A 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#D96D3A), color-stop(100%,#CB2C1A));
        background: -webkit-linear-gradient(top, #D96D3A 0%,#CB2C1A 100%);
        background: -o-linear-gradient(top, #D96D3A 0%,#CB2C1A 100%);
        background: -ms-linear-gradient(top, #D96D3A 0%,#CB2C1A 100%);
        background: linear-gradient(top, #D96D3A 0%,#CB2C1A 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#D96D3A', endColorstr='#CB2C1A',GradientType=0 );
        -moz-box-shadow: 0 1px 1px #AF2D1C, 0px 1px 0 #FC9E76 inset;
        -webkit-box-shadow: 0 1px 1px #AF2D1C, 0px 1px 0 #FC9E76 inset;
        box-shadow: 0 1px 1px #AF2D1C, 0px 1px 0 #FC9E76 inset;
    }

    .widgetButtons .green a, .wBlock.green {
        border: 1px solid #677C13;
        background: #829E18;
        background: -moz-linear-gradient(top, #ADC800 0%, #829E18 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ADC800), color-stop(100%,#829E18));
        background: -webkit-linear-gradient(top, #ADC800 0%,#829E18 100%);
        background: -o-linear-gradient(top, #ADC800 0%,#829E18 100%);
        background: -ms-linear-gradient(top, #ADC800 0%,#829E18 100%);
        background: linear-gradient(top, #ADC800 0%,#829E18 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ADC800', endColorstr='#829E18',GradientType=0 );
        -moz-box-shadow: 0 1px 1px #677C13, 0px 1px 0 #DEF92F inset;
        -webkit-box-shadow: 0 1px 1px #677C13, 0px 1px 0 #DEF92F inset;
        box-shadow: 0 1px 1px #677C13, 0px 1px 0 #DEF92F inset;
    }


    .widgetButtons .blue a, .wBlock.blue {
        border: 1px solid #7E8FC4;
        background: #73A4D9;
        background: -moz-linear-gradient(top, #90C2EE 0%, #73A4D9 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#90C2EE), color-stop(100%,#73A4D9));
        background: -webkit-linear-gradient(top, #90C2EE 0%,#73A4D9 100%);
        background: -o-linear-gradient(top, #90C2EE 0%,#73A4D9 100%);
        background: -ms-linear-gradient(top, #90C2EE 0%,#73A4D9 100%);
        background: linear-gradient(top, #90C2EE 0%,#73A4D9 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#90C2EE', endColorstr='#73A4D9',GradientType=0 );
        -moz-box-shadow: 0 1px 1px #7E8FC4, 0px 1px 0 #B2DBFF inset;
        -webkit-box-shadow: 0 1px 1px #7E8FC4, 0px 1px 0 #B2DBFF inset;
        box-shadow: 0 1px 1px #7E8FC4, 0px 1px 0 #B2DBFF inset;
    }

    .widgetButtons .bb a:active {
        -moz-box-shadow: 0px 0px 1px #444 inset;
        -webkit-box-shadow: 0px 0px 1px #444 inset;
        box-shadow: 0px 0px 1px #444 inset;
    }

    .widgetButtons .bb .caption {
        position: absolute;
        right: -5px;
        top: -5px;
        font-size: 11px;
        display: block;
        padding: 2px 2px;
        line-height: 13px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        background-color: #416C9B;
        color: #FFF;
        border: 1px solid #416C9B;
    }

        .widgetButtons .bb .caption.gray {
            color: #333;
            border: 1px solid #D9D9D9;
            background: #E5E5E5;
        }

        .widgetButtons .bb .caption.yellow {
            border: 1px solid #D6AB00;
            background: #ECB200;
        }

        .widgetButtons .bb .caption.red {
            border: 1px solid #AF2D1C;
            background: #CB2C1A;
        }

        .widgetButtons .bb .caption.green {
            border: 1px solid #677C13;
            background: #829E18;
        }

        .widgetButtons .bb .caption.blue {
            border: 1px solid #7E8FC4;
            background: #73A4D9;
        }


/* ~WIDGET BUTTONS ~*/

/* ~Table users list~ */

.listUsers {
    position: relative;
}

    .listUsers .actions {
        margin: 5px 0px 0px 0px;
        text-align: center;
    }

    .listUsers .user {
        font-weight: bold;
    }

    .listUsers .about {
        margin: 0px;
    }

    .listUsers .info {
        margin: 0px;
        font-weight: bold;
    }

        .listUsers .info .green {
            color: #2E801E;
        }

        .listUsers .info .grey {
            color: #666;
        }

        .listUsers .info .red {
            color: #772E2C;
        }

/* ~Table users list~ */


/* block widget */
.wBlock {
    float: left;
    position: relative;
    width: 100%;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 20px;
    color: #FFF;
    background: #416C9B;
    background: -moz-linear-gradient(top, #5B7EA4 0%, #416C9B 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5B7EA4), color-stop(100%,#416C9B));
    background: -webkit-linear-gradient(top, #5B7EA4 0%,#416C9B 100%);
    background: -o-linear-gradient(top, #5B7EA4 0%,#416C9B 100%);
    background: -ms-linear-gradient(top, #5B7EA4 0%,#416C9B 100%);
    background: linear-gradient(top, #5B7EA4 0%,#416C9B 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5B7EA4', endColorstr='#416C9B',GradientType=0 );
    -moz-box-shadow: 0 1px 1px #222, 0px 1px 0 #7797ba inset;
    -webkit-box-shadow: 0 1px 1px #222, 0px 1px 0 #7797ba inset;
    box-shadow: 0 1px 1px #222, 0px 1px 0 #7797ba inset;
}

    .wBlock .wSpace {
        background-color: #FFF;
        padding: 0px 5px;
        margin: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        -moz-box-shadow: 0px 0px 2px #999 inset;
        -webkit-box-shadow: 0px 0px 2px #999 inset;
        box-shadow: 0px 0px 2px #999 inset;
    }

    .wBlock .dSpace {
        margin: 0px 5px 5px;
        margin-top: 5px;
        background-color: #365B85;
        padding: 3px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        float: left;
        -moz-box-shadow: 0px 0px 2px #222 inset;
        -webkit-box-shadow: 0px 0px 2px #222 inset;
        box-shadow: 0px 0px 2px #222 inset;
        width: 45%;
        min-width: 82px;
        min-height: 72px;
    }

    .wBlock .rSpace {
        width: 47%;
        float: right;
        margin: 5px 0px;
    }

.menu .wBlock {
    margin-bottom: 0px;
}

.wBlock.auto {
    width: auto;
    margin-right: 20px;
}

    .wBlock.auto .dSpace,
    .wBlock.auto .rSpace {
        width: auto;
    }

.wBlock .dSpace h3,
.wBlock .rSpace h3 {
    margin: 2px 0px;
    padding: 0px;
    font-size: 12px;
    text-align: center;
    color: #c7e3fc;
    font-weight: normal;
    line-height: 14px;
    -moz-text-shadow: 0 1px 0 #333;
    -webkit-text-shadow: 0 1px 0 #333;
    text-shadow: 0 1px 0 #333;
}

.wBlock .dSpace span,
.wBlock .rSpace span {
    display: block;
    text-align: center;
    color: #FFF;
    font-size: 12px;
    line-height: 16px;
    -moz-text-shadow: 0 1px 0 #333;
    -webkit-text-shadow: 0 1px 0 #333;
    text-shadow: 0 1px 0 #333;
}

    .wBlock .dSpace span.number {
        font-size: 30px;
        color: #FFF;
        font-weight: bold;
        line-height: 32px;
    }

    .wBlock .dSpace span b,
    .wBlock .rSpace span b {
        font-weight: normal;
        color: #c7e3fc;
    }

.wBlock .rSpace h3 {
    text-align: left;
}

.wBlock .rSpace span {
    text-align: left;
    margin-top: 2px;
}

.wBlock.gray .dSpace {
    background-color: #555;
}

    .wBlock.gray .dSpace h3 {
        color: #F5F5F5;
    }

.wBlock.gray .rSpace span,
.wBlock.gray .rSpace span b {
    color: #000;
    -moz-text-shadow: 0 1px 0 #FFF;
    -webkit-text-shadow: 0 1px 0 #FFF;
    text-shadow: 0 1px 0 #FFF;
}

    .wBlock.gray .rSpace span b {
        color: #555;
    }

.wBlock.green .dSpace {
    background-color: #677C12;
}

.wBlock.yellow .dSpace {
    background-color: #9B7503;
}

.wBlock.red .dSpace {
    background-color: #7F1C0F;
}

.wBlock.blue .dSpace {
    background-color: #4A82BA;
}

.wBlock.green .dSpace h3,
.wBlock.green .rSpace span b {
    color: #F9FFD6;
}

.wBlock.yellow .dSpace h3,
.wBlock.yellow .rSpace span b {
    color: #FFFCD6;
}

.wBlock.red .dSpace h3,
.wBlock.red .rSpace span b {
    color: #FFE3E2;
}

.wBlock.blue .dSpace h3,
.wBlock.blue .rSpace span b {
    color: #E2F9FF;
}

.wBlock.yellow .rSpace span,
.wBlock.green .rSpace span,
.wBlock.red .rSpace span,
.wBlock.blue .rSpace span {
    color: #FFF;
}

/* block widget */

/* ~icons box~ */
.the-icons {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

    .the-icons li {
        width: 25%;
        float: left;
        padding: 5px 0px;
    }
/* ~icons box~ */

.TreeView {
    width: 100%;
    text-align: center;
    padding-left: 50px;
}




/*STYLE LOGIN PAGE*/
#page-login {
    width: 255px;
    /*padding-top: 90px;
    margin: auto;*/
}

.center-login {
    background: url("../images/panel-login.png") no-repeat scroll center top transparent;
    float: left;
    height: 200px;
    width: 100%;
}

.button {
    background: url("../images/panel-dangnhap.png") no-repeat scroll 0 0 transparent;
    border: 0 none;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 14px;
    height: 30px;
    margin: 5px auto 0 21px !important;
    width: 223px !important;
}

.form-input {
    height: 90px;
    padding: 35px 0 0 17px;
    width: 235px;
}

.username1 {
    
    border: 0 none;
    color: #898989 !important;
    float: left;
    font-size: 14px !important;
    height: 22px !important;
    padding-left: 5px !important;
    padding-right: 26px !important;
    width: 183px !important;
}

.password1 {
    
    border: 0 none;
    color: #898989 !important;
    float: left;
    font-size: 14px !important;
    height: 22px !important;
    padding-left: 5px !important;
    padding-right: 26px !important;
    width: 183px !important;
}

#footer {
    background: url("../images/footer-line.png") repeat scroll left top transparent;
    bottom: 0;
    float: left;
    height: 35px;
    width: 100%;
}


.dropdown-css {
    margin-bottom: 0px !important;
}

#css-header {
    *background-color: #ffffff;
    *width: 100%;
}

:root #css-header {
    padding-right: 10px;
}

@media \0 {
    #css-header {
        padding-right: 10px;
    }
}

#css-header-center {
    *padding-right: 10px;
}


#ssvzone_1414 .admMain {
    background: url("../images/bg_frame3a.png") repeat-x scroll 0 -27px transparent;
    color: #FFFFFF;
    height: 26px;
    line-height: 26px;
    float: left;
}

.admFrameTitle {
    float: left;
    font-family: tahoma, arial;
    font-size: 12px;
    height: 26px;
    line-height: 26px;
    width: 150px;
}

#marqueeAdv a {
    color: #ffffff;
    text-decoration: none;
}

.admMainTop {
    background: url("../images/advleft.png") no-repeat scroll bottom left transparent;
    color: #FFFFFF;
    height: 26px;
    line-height: 26px;
    float: left;
    width: 4px;
}

.admMainBottom {
    background: url("../images/advright.png") no-repeat scroll bottom left transparent;
    color: #FFFFFF;
    height: 26px;
    line-height: 26px;
    float: right;
    width: 4px;
}



.mask {
    float: right;
    width: 100%;
    height: 300px;
    overflow: hidden;
}

    .mask img {
        float: left;
    }

ul.images {
    position: relative;
    top: 0px;
    left: 0px;
}

    ul.images li {
        position: relative;
        top: 0px;
        left: 0px;
        text-decoration: none;
        list-style: none;
    }

ul.triggers {
    margin-left: 104px;
}

    ul.triggers li {
        float: left;
        margin: 0 5px;
        font: bold 16px arial;
        cursor: pointer;
        background-color: #ccc;
        color: #000;
        padding: 3px;
        text-decoration: none;
        list-style: none;
    }

        ul.triggers li.selected {
            background-color: rgb(56,105,207);
            color: #000;
        }


.control {
    position: absolute;
    top: 380px;
    color: #fff;
    cursor: pointer;
}

.prev {
    left: 120px;
}

.next {
    left: 180px;
}

.truc-kltruc {
    text-align: right !important;
}


.truc-thutu {
    text-align: right !important;
}

.csstextname {
    margin-top: 6px !important;
}

#tSortable_2 tbody {
    text-align: right;
}

.tablePhieu {
    width: 100%;
    border: 0!important;
    margin: 0 !important;
    padding: 0 !important;
}

    .tablePhieu tr td {
        border-left: 0px !important;
        margin: 0 !important;
        background-color: #F1F1F1 !important;
        border-top: 0!important;
    }

.thPhieu {
    margin: 0 !important;
    padding-left: 0 !important;
    padding-top: 4px!important;
    padding-right: 0 !important;
    padding-bottom: 0 !important;
  position: relative;
}

/*.thPhieu1 {
    margin: 0 !important;
    padding: 0 !important;
    position: relative;
}*/

    /*.thPhieu1 img {
        position: absolute;
        top: 8px;
        right: 0px;
    }*/
